body {
    margin: auto;
    width: 80%;
    padding-top: 40px;
    font-family: 'Teko', sans-serif;
    /* color: #FFF; */
    background-color: rgb(240, 237, 233);
    letter-spacing: -0.05em;
}

.title {
    font-size: 42pt;
    margin-bottom: 0px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    font-size: 14pt;
}

.navlink {
    text-decoration: underline;
    color: rgb(219, 139, 20);
}

.navlink:hover {
    text-decoration: double;
    color: white;
}

.info {
    font-size: 14pt;
    margin: 0px;
}

.dash {
    margin: 3px;
}

article {
    margin-top: 20px;
    width: 50%;
}

.articlep {
    font-weight: 300;
    letter-spacing: 0em;
    max-width: 50%;
    max-height: 10em;
    /* overflow: hidden; */
}

img {
    float: right;
    display: inline;
    max-width: 50%;
    padding: 3px;
    clear: left;
    max-height: 10em;
}