body {
    margin: auto;
    width: 80%;
    padding-top: 40px;
    font-family: 'Teko', sans-serif;
    /* color: #FFF; */
    background-color: rgb(240, 237, 233);
    letter-spacing: -0.05em;
}

.title {
    font-size: 42pt;
    margin-bottom: 0px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    font-size: 14pt;
}

.navlink {
    text-decoration: underline;
    color: rgb(219, 139, 20);
}

.nclink {
    text-decoration: underline;
}

.navlink:hover,
.nclink:hover {
    text-decoration: double;
    color: white;
}


.info {
    margin-top: 15px;
    font-weight: 300;
    font-size: 14pt;
    letter-spacing: 0em;
}

.dash {
    margin: 3px;
}

article {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    letter-spacing: 0em;
}

.a-text {
    font-weight: 300;
}

.articlep {
    margin: 0;
}

img {
    max-width: 60%;
    max-height: 20em;
}

article h3 {
    margin: 0;
}